@import '../../../assets/common';

.section-hero {
    position: relative;
    height: 83.5vh;
    background-image: url("../../../assets/images/tzuni-507346-unsplash.jpg");
    background-position: 50% 94%;
    background-size: cover;
    background-repeat: no-repeat;
    .hero-intro {
        width: 100%;
        max-width: 570px;
        padding: 56px 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 16px;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        opacity: 1;
        transform-style: preserve-3d;
        margin: auto;
        .subhead {
            margin-bottom: 16px;
            color: #a5c926;
            font-size: 13px;
            line-height: 16px;
            font-weight: 600;
        }
        h2 {
            margin-top: 0px;
            margin-bottom: 20px;
            font-family: 'Varela Round', sans-serif;
            font-size: 40px;
            line-height: 48px;
            font-weight: 400;
            text-align: center;
        }
        .intro-button:hover {
            transform: scale(1.05);
        }
    }
    .scroll-mouse-link {
        @include flex();
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 64px;
        height: 64px;
        margin-bottom: 0px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
        .mouse-icon {
            @include flex;
            width: 20px;
            height: 30px;
            display: flex;
            border: 2px solid #bbb;
            border-radius: 12px;
            .mouse-wheel {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #bbb;
            }
        }
    }
}