<header>

  <div class="nav-top">
    <div class="nav-top--info">
      <span class="nav-top--text">Call Us: +91 988 974-5898</span>
      <span class="nav-top--tiny">Email: <a href="mailto:contact@toystore.com">contact@toystore.com</a></span>
    </div>
    <div class="nav-top--social">
      <ul class="nav-social">
        <li><a href=""><img src="assets/images/icon/twitter-icon-white.svg" alt=""></a></li>
        <li><a href=""><img src="assets/images/icon/facebook-icon-white.svg" alt=""></a></li>
        <li><a href=""><img src="assets/images/icon/instagram-icon-white.svg" alt=""></a></li>
        <li><a href=""><img src="assets/images/icon/pinterest-icon-white.svg" alt=""></a></li>
        <li><a href=""><img src="assets/images/icon/youtube-icon.svg" alt=""></a></li>
      </ul>
    </div>
  </div>

  <div class="nav-main">
    <div class="wrapper">
      <a routerLink="/" class="nav-brand">
        <div>ToyStory</div>
      </a>
      <nav class="nav-routes">
        <a href="">Catelog</a>
        <a href="">Delivery</a>
        <a href="">About</a>
        <a href="">Contacts</a>
      </nav>
      <div class="cart-wrapper">
        <a href="">
          <span class="cart-text">Cart</span>
          <img src="assets/images/icon/cart-icon.svg" alt="">
          <span class="badge">0</span>
        </a>
      </div>
    </div>
  </div>

</header>